{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{%block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/virtus.jpg' %}" alt="">
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Con más de 75 años de experiencia a nuestras espaldas, desde Concecionaria Multimarcas PEPITO tenemos las herramientas necesarias para hacer realidad tus sueños y obtener tu auto deseado.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}